<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" data-layout="./@@page-site-layout">
  <body>
    <div data-panel="content"         data-max-columns="4">
      <div class="mosaic-grid-row">
        <div class="mosaic-grid-cell mosaic-width-half mosaic-position-leftmost">
          <div class="movable removable mosaic-tile mosaic-IRichText-text-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.field?field=IRichText-text"></div>
          </div>
          </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-half mosaic-position-half">
          <div class="movable removable mosaic-tile mosaic-plone.app.standardtiles.html-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.html/2523f8b3-1a88-44af-a755-0fb3a6069b83?content=%3Ch2%3E%3Cimg%20class=%22image-inline%22%20style=%22display:%20block;%20margin-left:%20auto;%20margin-right:%20auto;%22%20src=%22../resolveuid/57804a4da0c64dd487e33980d46492bf%22%20alt=%22%22%20data-linktype=%22image%22%20data-scale=%22%22%20data-val=%2257804a4da0c64dd487e33980d46492bf%22%20/%3E%3C/h2%3E%0A%3Ch2%3EIls%20utilisent%20Plone%3C/h2%3E%0A%3Cp%3Eds%3C/p%3E%0A%3Cp%3Eds%3C/p%3E%0A%3Cp%3Ed%3C/p%3E%0A%3Cp%3Esd%3C/p%3E%0A%3Cp%3Es%3C/p%3E%0A%3Cp%3E%C2%A0%3C/p%3E%0A"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="mosaic-grid-row mosaic-grid-row-dark">
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-leftmost">
          <div class="movable removable mosaic-tile mosaic-plone.app.standardtiles.html-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.html/3b8867e6-4a7e-4605-b139-0ce76f6779ce?content=%3Ch3%3EENTERPRISE%20INTEGRATION%3C/h3%3E%0A%3Cp%3EA%20true%20team%20player,%20Plone%20connects%20and%20plays%20well%20with%20your%20existing%20infrastructure%3C/p%3E%0A"></div>
          </div>
          </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-quarter">
          <div class="movable removable mosaic-tile mosaic-plone.app.standardtiles.html-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.html/53f559f0-4f3a-4798-8b38-d6bef2a05054?content=%3Ch3%3EWorkflows%20flexibles%3C/h3%3E%0A%3Cp%3EYou're%20in%20control%20of%20how%20your%20content%20is%20created,%20shared,%20and%20storedYou're%20in%20control%20of%20how%20your%20content%20is%20created,%20shared,%20and%20stored%3C/p%3E%0A"></div>
          </div>
          </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-half">
          <div class="movable removable mosaic-tile mosaic-plone.app.standardtiles.html-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.html/ef3261c9-c4fe-4aa8-afab-1def4fce1c0b?content=%3Ch3%3EINDUSTRIAL%20STRENGTH%20SECURITY%3C/h3%3E%0A%3Cp%3ERest%20easy,%20Plone%20has%20the%20best%20security%20track%20record%20of%20any%20Enterprise%20Content%20Management%20System%3C/p%3E%0A"></div>
          </div>
          </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-three-quarters">
          <div class="movable removable mosaic-tile mosaic-plone.app.standardtiles.html-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.html/f4fd94bb-1e24-4770-8d52-b35b1553e29b?content=%3Ch3%3ELimitless%20extensibility%3C/h3%3E%0A%3Cp%3EDonec%20ultricies%20nisl%20ut%20felis,%20suspendisse%20potenti.%20Lorem%20ipsum%20ligula%20ut%20hendrerit%20mollis,%20ipsum%20erat%20vehicula%20risus,%20eu%20suscipit%20sem%20libero%20nec%20erat.%20Aliquam%20erat%20volutpat.%20Sed%20congue%20augue%20vitae%20neque.%20Nulla%20consectetuer%20porttitor%20pede.%20Fusce%20purus%20morbi%20tortor%20magna%20condimentum%20vel,%20placerat%20id%20blandit%20sit%20amet%20tortor.%3C/p%3E%0A"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>